.container{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    width: 50%;
    margin: 0 auto;
    gap: 2px;
}

#celda1{
    grid-column: 1/4;
}
#celda2{
    grid-area: 1/4/3/5;
}

.container>div {
    background-color: rgb(9, 130, 236);
    border: 1px solid rgb(140, 190, 235);
    text-align: center;
    color: white;
}