.container {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    width: 50%;
    margin:0 auto;
    color: white;
    gap: 2px;
}

.container div:first-child{
    grid-column: 1/4;
    
}
.container>div{
    background-color: rgb(9, 130, 236);
    border:1px solid rgb(140, 190, 235);
    text-align: center;

}
