.container {
    display: grid;
    grid-template-areas:
    "celda-grid-area celda-grid-area celda-grid-area celda-grid-area celda-grid-area celda-grid-area" 
    "celda2 celda3 celda4 celda5 celda6"
    "celda2 celda3 celda4 celda5 celda6";
    width: 50%;
    margin: 0 auto;
    gap: 2px;

}

#celda-grid-area {
    grid-column: 1/4;
}

#celda2 {
    grid-row: 2/4;
}

.container>div {
    background-color: rgb(9, 130, 236);
    border: 1px solid rgb(140, 190, 235);
    text-align: center;
    color: white;
}