.container {
    display: grid;
    grid-template-columns: 200px 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 400px;
    border: 1px solid black;
}
.container>div{
    border: 1px solid saddlebrown;
    background-color: chocolate;
}

.container div:first-child{
    background-color: greenyellow;
    grid-column-start:1;
    grid-column-end:3;
}
.container>div{
    border: 1px solid saddlebrown;
    background-color: chocolate;
}